<div class="ae-grid au-xs-ta-center au-mb-4">

    <div *ngFor="let persona of infoEquipoService.infoequipo"
        class="animate__animated animate__fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="persona.url" alt="" class="au-mb-3">
        <h5 class="ae-u -bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.subtitulo}}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{persona.frase}}</p>
        <a target="_blank" href="{{infoEquipoService.info.twitter}}"
            class="ae-u-bolder au-underline">{{persona.twitter}}</a>
    </div>

</div>
<!-- <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Title example</h4>
        <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
            sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
    </div>
</div> -->
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Acerca de nostros</h6>
        <p class="au-lh-3">Somos un negocio familiar comprometido con la población, ofreciendole productos de calidad y
            al mejor precio.
            Contribuyendo a la transformación personal, brindándole a nuestros clientes las mejores opciones de compra,
            contando con un ambiente de comodidad y seguridad en nuestro establecimientos. </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestra misión</h6>
        <p class="au-lh-3">Ser una de las mejores tiendas que ofrezca la mejor calidad y variedad en
            servicios de venta y productos a sus clientes, generar un valor agregado a las ciudades a las que lleguemos
            y contribuir
            al desarrollo de nuestros colaboradores y accionistas, fortaleciendo nuestra solidez por medio de la
            planificación y el
            trabajo en equipo.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestros clientes</h6>
        <p class="au-lh-3">Nuestra tienda tiene todo estilo en ropa, calzado y variedad de articulos para cualquier
            miembro o integrante de la familia, ya sea grandes o chicos,
            aquí encuentra una variedad de productos y para diversas ocasiones, bodas, cumpleaños, regalos, etc. Los
            esperamos!.
        </p>
    </div>
</div>
<p class="au-flex au-pt-4 group-buttons"><a routerLink="portafolio"
        class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver nuestro Cátalogo<span class="arrow-cont">
            <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span></a></p>