<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a routerLink ='/item' class="rk-item ae-masonry__item"><img src="assets/img/JeansWomanBlue.jpg" alt="">
            <div class="item-meta">
                <h2>Sculptin Skinny</h2>
                <p>Jeans</p>
            </div>
        </a><a routerLink="item" class="rk-item ae-masonry__item"><img src="assets/img/pantswoman.jpg" alt="">
            <div class="item-meta">
                <h2>Pantalones Mujer</h2>
                <p>Jeans</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/pantsrotowoman.jpg" alt="">
            <div class="item-meta">
                <h2>Pantalón Dama</h2>
                <p>Jeans</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/pantcampana.jpg" alt="">
            <div class="item-meta">
                <h2>Pantalón Campana</h2>
                <p>Jeans Dama</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/pantcampana2.jpg" alt="">
            <div class="item-meta">
                <h2>Pantalón Campana</h2>
                <p>Blue Jeans</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/blusadama1.jpg" alt="">
            <div class="item-meta">
                <h2>Blusa</h2>
                <p>Clásica</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/mangalarga1.jpg" alt="">
            <div class="item-meta">
                <h2>Manga Larga</h2>
                <p>Dama</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vestido.jpg" alt="">
            <div class="item-meta">
                <h2>Vestido</h2>
                <p>Clásico</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/blusablancadama.jpg" alt="">
            <div class="item-meta">
                <h2>Blusa Clásica</h2>
                <p>Dama</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/blusadamalarga.jpg" alt="">
            <div class="item-meta">
                <h2>Blusa Dama</h2>
                <p>Manga Larga</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/blusasinmanga.jpg" alt="">
            <div class="item-meta">
                <h2>Blusa sin Manga</h2>
                <p>Clásica</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/blusaflores.jpg" alt="">
            <div class="item-meta">
                <h2>Blusa Floreada</h2>
                <p>Summer</p>
            </div>
        </a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/blusanegra.jpg" alt="">
            <div class="item-meta">
                <h2>Blusa Negra</h2>
                <p>Clásica</p>
            </div>
        </a>
    </div>
</section>